.treeview-menu > li > a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 15px;
    transition: none;
}

.skin-blue .sidebar-form input[type="text"]:focus, .skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    color: #666;
}

.username {
    color: darkblue;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.username:hover {
    color: blue;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: underline;
}

#cancel {
    font-size: 15px;
    padding: 5px 15px;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #3c96d6 0%, #3481b7 100%);
    margin: 0;
    vertical-align: baseline;
    width: 90px;
    float: right;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#cancel:hover {
    cursor: pointer;
    background-image: -ms-linear-gradient(top, #3c96d6 0%, #79c8ff 100%);
    background-image: -moz-linear-gradient(top, #3c96d6 0%, #79c8ff 100%);
    background-image: -o-linear-gradient(top, #3c96d6 0%, #79c8ff 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3c96d6), color-stop(1, #79c8ff));
    background-image: -webkit-linear-gradient(top, #3c96d6 0%, #79c8ff 100%);
    background-image: linear-gradient(to bottom, #3c96d6 0%, #79c8ff 100%);
}

#save {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#addFiles {
    transition: none;
    color: white;
    width: 110px;
    font-size: 14px;
    height: 34px;
    padding-top: 5px;
}

#deleteFiles {
    transition: none;
    color: white;
    width: 90px;
    font-size: 14px;
    height: 34px;
    padding-top: 5px;
}

#deleteFiles:focus {
    border: none;
    box-shadow: none;
}

#deleteFiles:hover {
    background-color: #CC0000;
}

.glyphicon-plus:before {
    content: "\002b";
}

.glyphicon-plus {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.glyphicon-trash:before {
    content: "\e020";
}

.glyphicon-trash {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.glyphicon-ban-circle:before {
    content: "\e090";
}

.glyphicon-ban-circle {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.table-striped {
    width: 100%;
    padding-top: 10px;
    height: 350px;
    overflow-y: scroll;
    display: block;
}

.table-tr {
    width: 100%;
    height: 80px;
    box-shadow: 0px 0px 5px #aaa;
    border: solid 1px #c2c2c2;
    margin-top: 15px;
}

.table-striped .table-tr td img {
    height: 80px;
    width: 80px;
    border: 1px solid darkblue;
    box-shadow: 1px 1px 1px #000;
}

.table-striped .table-tr .imageName, .table-striped .table-tr .imageSize {
    padding-top: 28px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.table-striped .table-tr .imageSize {
    width: 55px;
    font-size: 13px;
    line-height: 1.5em;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

.table-striped .table-tr .imageName {
    width: 100px;
    font-size: 13px;
    line-height: 1.5em;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

.table-striped .table-tr .canceltd {
    padding-top: 32px;
    padding-left: 30px;
}

.table-striped .table-tr .imageType {
    padding-top: 32px;
}

.table-striped .table-tr .imageType select {
    overflow: hidden;
    background: transparent;
    padding: 7px; /* If you add too much padding here, the options won't show in IE */
    background: url(images/2e3ybe1.jpg) no-repeat right center;
    width: 120px;
    float: left;
    border: 1px solid #ccc;
    font-size: 14px;
    height: 34px;
    -webkit-appearance: none;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.select-editable-productseries {
    position: relative;
    overflow: hidden;
    background: transparent;
    width: 160px;
    float: left;
    height: 34px;
}

.select-editable-seriestitle {
    position: relative;
    overflow: hidden;
    background: transparent;
    width: 220px;
    float: left;
    height: 34px;
}

.select-editable-manufacturer {
    position: relative;
    overflow: hidden;
    background: transparent;
    width: 200px;
    float: left;
    height: 34px;
}

#crawlBtn {
    display: block;
    width: 115px;
    height: 35px;
    background: #4E9CAF;
    padding: 7px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: none;
    float: left;
}

#crawlBtn:hover {
    background-color: #0c5460;
    cursor: pointer;
    text-decoration: none;
}

#crawlBtn:active {
    background-color: #0c5460;
}

input#switch {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
    float: right;
}

label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: #bada55;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 130px;
}

.approveBtn {
    display: block;
    width: 70px;
    height: 35px;
    background: #4E9CAF;
    padding: 7px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: none;
    float: left;
    margin-right: 5px;
}

.approveBtn:hover {
    background-color: #0c5460;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.approveBtn:active {
    background-color: #0c5460;
}

.moreInfoBtn {
    display: block;
    width: 65px;
    height: 35px;
    background: #4E9CAF;
    padding: 7px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: none;
    float: left;
    margin-right: 5px;
}

.moreInfoBtn:hover {
    background-color: #0c5460;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.moreInfoBtn:active {
    background-color: #0c5460;
}
.declineBtn {
    display: block;
    width: 65px;
    height: 35px;
    background: #ff0011;
    padding: 7px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: none;
    float: left;
    margin-right: 5px;
}

.declineBtn:hover {
    background-color: #ff6b44;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.declineBtn:active {
    background-color: #ff6b44;
}

#pendingTable tr td.modelName, #pendingTable tr td.seriesTitle {
    width: 180px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#pendingTable tr td.modelCode {
    width: 80px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: darkred;
}

#pendingTable tr td.crawlDate {
    width: 100px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#pendingTable tr td.modelName a {
    color: darkblue;
    transition: none;
}

#pendingTable tr td.modelName a:hover {
    text-decoration: underline;
}

#pendingTable tr td.modelStatus {
    color: #795548;
}

#accountTable tr td.fullname, #accountTable tr td.emailTD {
    width: 150px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#accountTable tr td.accountID {
    width: 40px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: darkred;
    text-align: center;
}

#accountTable tr td.usernameTD a {
    color: red;
    transition: none;
}

#accountTable tr td.usernameTD a:hover {
    text-decoration: underline;
}

#accountTable tr td.addressTD {
    width: 250px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#accountTable tr td.datetimeTD {
    width: 90px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#accountTable tr td.accountRating {
    color: darkred;
}

.modal-title {
    float: left;
}

.modal-content {
    margin-top: 200px;
}

/*  for admin page  */
.io-panel-header h3 {
    color: #3d74b2;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    margin: 0px;
    vertical-align: middle;
    line-height: 1.5em;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

.io-col-main {
    padding-bottom:40px;
    width: 100%;
}

.io-col-main {
    position:relative;
}

.pad-10 {
    padding: 10px;
}

.io-panel {
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #aaa;
    -webkit-box-shadow: 0px 0px 5px #aaa;
    box-shadow: 0px 0px 5px #aaa;
    border: solid 1px #c2c2c2;
}

.io-panel-header {
    overflow: hidden;
    min-height: 27px;
    padding: 5px 5px 5px 10px;
    border-bottom: solid 1px #c2c2c2;
    background-image: -ms-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.io-button-highlight.medium {
    font-size: 14px;
    padding: 5px 15px;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
}

.io-button-highlight, .io-button-highlight:link, .io-button-highlight:visited {
    border: solid 1px #007b0c;
    color: #fff;
    text-decoration: none;
    background-image: -ms-linear-gradient(top, #00d100 0%, #009900 100%);
    background-image: -moz-linear-gradient(top, #00d100 0%, #009900 100%);
    background-image: -o-linear-gradient(top, #00d100 0%, #009900 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00d100), color-stop(1, #009900));
    background-image: -webkit-linear-gradient(top, #00d100 0%, #009900 100%);
    background-image: linear-gradient(to bottom, #00d100 0%, #009900 100%);
}

.io-panel-header span {
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
}

.io-panel-body {
    padding: 0px;
    min-height: 550px;
    height: auto;
}

.io-contact-information {
    width: 40%;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.pad-20 {
    padding: 20px;
}

.io-contact-information h3 {
    color: #3d74b2;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    margin: 0px;
    vertical-align: middle;
}

.io-panel-body h3 {
    color: #3d74b2;
    font: normal 18px Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.iconContactInfo {
    background: url(images/uiIcon.png) -30px -210px no-repeat;
    width: 28px;
    height: 25px;
    margin-right: 5px;
}

.io-table-input {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
}

.io-table-input.vertical td.label {
    padding: 10px 10px 0px 0px;
}

.io-table-input td.label {
    padding: 5px 5px 5px 0px;
    font-size: 15px;
}

.label {
    color: black;
    text-align: left;
    font-weight: 400;
    padding: 10px 10px 0px 0px;
    font-size: 15px;
    line-height: 2;
    display: block;
}

.newCandidate {
    width: 60%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.io-personal-information {
    float: left;
    border-left: solid 1px #c2c2c2;
    box-sizing: border-box;
    height: 100%;
}

.profile-summary, .profile-experience, .profile-skill, .profile-certificate {
    margin-bottom: 20px;
}

.profile-summary h3.expand, .profile-experience h3.expand, .profile-skill h3.expand, .profile-education h3.expand {
    background: url(images/bg_splitter_section.png) no-repeat right 10px;
    cursor: pointer;
}

.io-personal-information h3 {
    color: #3d74b2;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    margin: 0px;
    vertical-align: middle;
}

.profile-summary h3 *, .profile-experience h3 *, .profile-skill h3 *, .profile-education h3 * {
    vertical-align: middle;
}

.iconSummary {
    background: url(images/uiIcon.png) 0px -210px no-repeat;
    width: 24px;
    height: 24px;
    background-color: white;
}

.profile-summary h3 span, .profile-experience h3 span, .profile-skill h3 span, .profile-education h3 span {
    background-color: white;
    padding-right: 5px;
}

.profile-summary h3 *, .profile-experience h3 *, .profile-skill h3 *, .profile-education h3 * {
    vertical-align: middle;
}

.io-ta-normal {
    height: 20px;
    padding: 4px 10px 4px 10px;
    border: solid 1px #aaa;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    min-height: 100px;
}

#txtDescription {
    overflow: auto;
    vertical-align: top;
    font-size: 14px;
    margin: 0;
    font-family: sans-serif;
    color: #333333;
    outline: none;
    padding: 8px;
}

.profile-summary, .profile-experience, .profile-skill, .profile-certificate {
    margin-bottom: 20px;
}

.profile-summary h3, .profile-experience h3, .profile-skill h3, .profile-education h3 {
    display: block !important;
    padding: 0px 0px 10px 0px;
    margin: 0 !important;
    height: 35px;
}

.iconEx {
    background: url(images/uiIcon.png) 0px -240px no-repeat;
    width: 27px;
    height: 20px;
    background-color: white;
}

.profile-experience > div {
    margin-bottom: 10px;
}

.io-navigation-left ul li.btnMenu a.io-button-highlight:hover,
.io-navigation-left ul li.btnMenu a.io-button-highlight:active,
.io-navigation-left ul li.btnMenu a.io-button-highlight:focus,
.io-button-highlight:hover,
.io-button-highlight:active,
.io-button-highlight:focus {
    color:#fff; text-decoration:none;
    /*gradient background*/
    background-image: -ms-linear-gradient(top, #00d100 0%, #75ff75 100%);
    background-image: -moz-linear-gradient(top, #00d100 0%, #75ff75 100%);
    background-image: -o-linear-gradient(top, #00d100 0%, #75ff75 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00d100), color-stop(1, #75ff75));
    background-image: -webkit-linear-gradient(top, #00d100 0%, #75ff75 100%);
    background-image: linear-gradient(to bottom, #00d100 0%, #75ff75 100%);
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn {
    display: inline-block;
    border-radius: 5px;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

table#listImage tr.table-tr td.canceltd .cancel:hover {
    background-color: #e0a800 !important;
    border-color: #d39e00 !important;
}

table#listImage tr.table-tr td.canceltd .cancel {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 180px;
    margin-left: 2%;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 100px;
}

.styled-select.slate {
    background: url(images/2e3ybe1.jpg) no-repeat right center;
    height: 34px;
    width: 150px;
    float: left;
}

.styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 14px;
    height: 34px;
    width: 268px;
}

.styled-select.slate select:focus {
    outline: black;
    box-shadow: 0px 0px 5px #CCCCCC;
}

.col-left {
    float: left;
    width: 45%;
}

.col-right {
    float: right;
}

.txt {
    font-family: Cambria;
    font-size: 14px;
    font-weight: 600;
    float: left;
    margin-top: 2%;
}

.error_field {
    font-style: italic;
    color: red;
    font-size: 12px;
}

/*  Manage schedule CSS area    */
.stopBtn {
    display: block;
    width: 100px;
    height: 35px;
    background: #CC0000;
    padding: 7px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: none;
    float: right;
    z-index: 20000;
}

.stopBtn:hover {
    background-color: #0c5460;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.stopBtn:active {
    background-color: #0c5460;
}

.startBtn {
    display: block;
    width: 115px;
    height: 35px;
    background: #4E9CAF;
    padding: 7px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: none;
    float: left;
}

.startBtn:hover {
    background-color: #0c5460;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.startBtn:active {
    background-color: #0c5460;
}

/*  countdown area  */
.one-third {
    height: 100px;
    float: left;
    width: 20%;
}

div#countdown{
    font: normal 16px 'Roboto', sans-serif;
    color: #353535;
    width: 60%;
    float: left;
}

div#countdown p{
    width: 100%;
    display: inline-block;
    text-align: center;
}

p.numbers{
    width: 100%;
    height: 85%;
    background: #FFFFFF;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: 600;
}

p.strings{
    width: 100%;
    height: auto;
    padding: 12px 0;
    background: darkgreen;
    color: #FFFFFF;
    font-weight: 600;
}

div.cd-box{
    width: 22%;
    height: 70px;
    background: #FFFFFF;
    float: left;
    padding: 15px 0 0 0;
    margin: 30px 10px 0 0;
    -webkit-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
    -moz-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
    box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
}

.schedule-description {
    width: 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
















