.searchFilter {
  margin-bottom: 20px;    
}
 .searchFilter.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 16px;
    border-radius: .25rem;
    height: 50px;
    min-width: 20px;
}
.searchFilter .btn-secondary {
    color: #373a3c;
    background-color: #fff;
    border: 1px solid #ccc;
}
.searchFilter .btn-secondary:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.searchFilter .btn-search {
  background-color: darkred;
  color: #fff;
  border: 1px solid darkred;
}
.searchFilter .btn-search:hover {
  background-color: #b20a11;
  color: #fff;
  border: 1px solid #b20a11;
}
.searchFilter .label-icon {
  display: none;  
}
.searchFilter .glyphicon {
    margin-right: -15px;
}
.searchFilter .dropdown-menu .category_filters {
  width: 100%;
}
.searchFilter .dropdown-menu-right {
    width: 170px;
}
.searchFilter .dropdown-menu .category_filters li {
  list-style-type: none;
  padding: 2px 10px;
  font-size: 16px;
}
.searchFilter .dropdown-menu .category_filters label {
  margin-left: 15px;
}
@media (min-width: 1400px) {
  .ct-header .ct-jumbotron .inner {
    max-width: 470px;
    min-height: 230px;
  }  
}
@media (max-width: 1400px) {
  .ct-header-slider .item {
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center top;
  }  
}
@media (min-width: 769px) and (max-width: 1400px) {
  .ct-header-slider .item {
    height: auto;  
  }
}
@media (max-width: 1260px) {
  #dots-container {
    display: none;
  }
}
@media (min-width: 992px){
  .ct-footer2 .ct-newsletter {
    max-width: 100%;
  }
  #dots-container {
    bottom: 100px;
  } 
}
@media (min-width: 768px){
  .ct-searchbar:before {
    height: 92px;
    bottom: -1px;
  }
  .page-scrolled .navbar .navbar-nav li > * {
    min-height: 67px;
    height: 67px;
  }
  .page-scrolled .navbar .navbar-nav {
    height: 100%!important;
  }
  .ct-current-facts h2 {
    margin: 0 auto 0px;
  }
  .contentNews .ct-recent-news {
    flex-direction: inherit;
  }
  .contentFaq .faq_question .col-sm-11 {
    padding-right: 0px;
  }
  .peopleDetail h2 {
    margin-top: -5px;
  }
  .searchFilter .btn {
    min-width: 50px;
  }
  .searchFilter .label-icon {
    display: inline-block;  
  }
  .searchFilter .glyphicon {
    margin-right: -5px;
  }
  .ct-header .ct-jumbotron {
    top: 0;
    margin-top: 5%;
  }
  .ct-header .ct-jumbotron h1 {
    font-size: 2.5em;
  }
  .ct-news.ct-news--bigger h3 {
    font-size: 41px;
    line-height: 1.4;
  }
}
@media (max-width: 768px){
  .ct-header .ct-jumbotron {  
    width: 80%;
    margin: 20px 10px;
    top: 40%;
    width: 95%;
  }
  .ct-header .ct-jumbotron .inner {
    max-width: 100%;
  }
  #dots-container {
    display: none;
  }
  .main-section {
    margin-top: -80px;
  }
  .searchFilter .dropdown-menu-right {
  right: 0px;
  }
}

#table_filter {
    margin-left: 244px;
    width: 360px;
    border: 1px solid #CCCCCC;
    border-right: 0;
    display: block;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: .375rem .75rem;
    font-size: 15px;
    height: 40px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    float: left;
    box-shadow: 0px 0px 5px #aaa;
}

#table_filter:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    border-right: 0px;
}

.search-box-button {
    background: #CC0000 url("images/icon_search_white.png") no-repeat 50%;
    box-sizing: border-box;
    border-radius: 0 6px 6px 0;
    height: 40px;
    width: 40px;
    border: 1px solid #CCCCCC;
    border-top: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    float: left;
}

.search-box-button:hover {
    opacity: 0.8;
}